<div class="container" style="border: 1px; border-color: rgb(55, 247, 144)">      
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Completa los datos</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="background-color:white">
            <form class="row g-3" style="margin-top: 10px;" action="/auth/register" method="post">
                
              <div class="col-md-6" style="margin-top: 20px;" >
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
              </div>
              <div class="col-md-6" style="margin-top: 20px;">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
              </div>
                <div class="col-md-6" style="margin-top: 20px;">
                  <label for="username" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="username">
                </div>
                <div class="col-md-2" style="margin-top: 20px;">
                  <label for="area" class="form-label">C. area</label>
                  <select id="inputState" class="form-select" name="area">
                    <option selected>+51</option>
                    <option selected>+54</option>
                    <option selected>+55</option>
                    <option selected>+56</option>
                    <option selected>+57</option>
                    <option selected>+58</option>
                  </select>
                </div>
                <div class="col-md-4" style="margin-top: 20px;">
                  <label for="tenefono" class="form-label">Nº tenefono</label>
                  <input type="text" class="form-control" id="inputZip" name="telefono">
                </div>
           
                <br>
                <div class="col-md-6" style="margin-top: 20px;">
                  <label for="Password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="Password" name="password">
                </div>
                <div class="col-md-6" style="margin-top: 20px;">
                  <label for="Password" class="form-label">Confirmar password</label>
                  <input type="password" class="form-control" id="PasswordConfirm" name="passwordConfirm">
                </div>
                <br>
                <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                  <input type="submit" class="btn btn-primary" value="Siguiente">
                </div>
              </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>