<body>
    <div >
        <div class="container" style="background-color: rgb(163, 226, 118); color: white; max-width: 100%;">
            <div class="row">
                
            
            <div class="col-4">
                <div>
                    <a href="/productos"><img src="/images/pages/logoIC.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-4">
                <form action="" method="post">
                    <input class="form-control form-control-lg" type="text" placeholder="Buscar productos" aria-label=".form-control-lg example">
    
                </form>
            </div>
            <div class="col-4">
                <div class="menuUser">
                    <div style="margin-left:10px ;">
                        <p> Bienvenido Nicolas<%-// usuario.nombre %></p>
                    </div>
                    <div style="margin-left:10px ;">
                        <img src="/images/pages/admin.png" alt="" style="height: 30px; width: 30px;">
                    </div>
                   
                    <div class="salir">
                        <a href="./olvidar">salir</a>
                    </div>

                </div>
            
            </div>
                   
        </div>

