<body>
    <div style="background-color: #e3e3e3;">
        <div class="container" style="background-color: rgb(163, 226, 118); color: white; max-width: 100%;">
            <div class="row">
                
            
            <div class="col-4">
                <div>
                    <a href="/productos"><img src="/images/pages/logoIC.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-4">
                <form action="/productos/buscar" method="post">
                    <input class="form-control form-control-lg" type="text" name="buscar" placeholder="Buscar productos" aria-label=".form-control-lg example">
                </form>
            </div>
            <div class="col-4">
                <div class="menuUser">
                    <div style="margin-left:10px ;">
                        <p> Bienvenido <%= nombre %></p>
                    </div>
                    <div style="margin-left:10px ;">
                            <% if(foto != ""){ %> 
                        <img src="<%=foto%> " alt="" style="height: 30px; width: 30px;">
                        <% } %> 
                    </div>
                   
                    <div class="salir">
                        <a href="/auth/logout">salir</a>
                    </div>

                </div>
            
            </div>
                   
        </div>

