<div class="row" style="font-size: 20px;">
    <div class="col-3"></div>
    <div class="col-4">
       <p> <%= items.Producto.nombre %>  </p> 
    </div>
    <div class="col-1"></div>
    <div class="col-1"><p> x <%= items.cantidad %>  </p></div>
    <div class="col-1"></div>
    <div class="col-1"><p>$ <%= items.Producto.precio * items.cantidad%> </p></div>
    <div class="col-1"></div>
  </div>